/* Fondo general */
body {
    background-color: #0e0e0e;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Inputs */
input {
    background-color: #1e1e1e !important;
    color: white !important;
    border: 1px solid #444 !important;
    border-radius: 10px !important;
    padding: 12px;
    text-align: center;
    font-size: 18px;
}

/* Botones generales */
button {
    background-color: #f1c40f !important;
    color: black !important;
    font-weight: bold !important;
    border-radius: 12px !important;
    padding: 14px !important;
    font-size: 20px !important;
}

/* Botones del teclado PIN */
.stButton > button {
    height: 70px !important;
    border-radius: 15px !important;
    margin: 4px !important;
    font-size: 24px !important;
}

/* Mensajes */
.stAlert {
    border-radius: 10px !important;
}
