/* Fondo general */
body {
    background-color: #0e0e0e;
    color: white;
}

/* Inputs */
input {
    background-color: #1e1e1e !important;
    color: white !important;
    border: 1px solid #444 !important;
    border-radius: 10px !important;
    padding: 12px;
    text-align: center;
    font-size: 18px;
}

/* Botones */
button {
    background-color: #f1c40f !important;
    color: black !important;
    font-weight: bold !important;
    border-radius: 12px !important;
    padding: 12px !important;
    font-size: 18px !important;
}

/* Mensajes */
.stAlert {
    border-radius: 10px !important;
}
